<robot name="063-b_marbles">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="0.009105959451634137 0.04510716207622225 -0.034199" />
			<geometry>
				<mesh filename="textured.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="textured_vhacd.obj" scale="1 1 1" />
			</geometry>
		<origin rpy="0 0 0" xyz="0.009105959451634137 0.04510716207622225 -0.034199" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>
